$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$primary-color1: #323232;
$primary-color2: #afafaf;
$primary-color3: #ffffff;
$primary-color4: #0095ff;
$secondary-color1: #000000;
$secondary-color2: #e1e1e1;
$secondary-color3: #fafafa;
$secondary-color4: #0065ad;

