@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/fonts" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AvenirNext LT Pro;
}

.header {
  &--dark-mode {
    background-color: black;
  }
  &__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include desktop {
      padding-left: 8.3rem;
      padding-right: 5.6rem;
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &__logo {
    width: 100%;
    height: 1.4rem;

    @include tablet {
      width: auto;
    }

    &--dark-mode {
     background-color: white;
    }
  }

  &__avatar {
    width: 36px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;

    @include tablet {
      order: 3;
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__form {
    flex: 1;

    @include tablet {
      order: 1;
    }
  }

  &__search {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;

    @include tablet {
      width: 69%;
    }

    @include desktop {
      width: 45%;
      gap: 1.4rem;
    }
  }

  &__text {
    background-color: $secondary-color3;
    border: 1px solid $secondary-color2;
    border-radius: 4px;
    padding-left: 2rem;
    width: 100%;
    height: 2.2rem;
    flex: 1;
    background-image: url(../../assets/Icons/search.svg);
    background-repeat: no-repeat;
    background-position: center left 0.5rem;
    background-size: 1rem;

    @include tablet {
      height: 2.5rem;
    }
    
  }
}

::placeholder {
  color: $secondary-color2;
  padding-left: 1.7rem;
  padding-left: 10rem;
  font-size: 0.8rem;

  @include tablet {
    padding-left: 2rem;
  }
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease-in-out;
  }

  &.dark {
    background-color: #000;

    &::before {
      left: 22px;
    }
  }

  &:active {
    &::before {
      transform: translateX(12px);
      transition-duration: 0.2s;
    }
  }

  &.selected {
    &::before {
      left: 22px;
    }
  }
}
