@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/fonts" as *;

.form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $secondary-color2;

  &__title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: $primary-color1;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
      font-size: 33px;
      line-height: 44px;
      padding-left: 0;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @include desktop {
      margin-left: 8rem;
    }
  }

  &__container {
    margin-left: 1rem;
    margin-right: 1rem;
    @include tablet {
      margin-left: 2rem;
      margin-right: 2rem;
      border-top: 1px solid $secondary-color2;
      padding-top: 2rem;
    }

    @include desktop {
      display: flex;
      margin-left: 8rem;
      margin-right: 6rem;
      margin-bottom: 1rem;
      max-width: 1200px;
    }
  }

  &__subtitle,
  &__label--title,
  &__label--description {
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $primary-color2;
    padding-bottom: 0.2rem;
  }

  &__label--title {
    padding-top: 1rem;
  }

  &__thumbnail {
    width: 100%;
    border-radius: 6px;
    @include tablet {
      width: 50%;
      display: block;
      margin-top: 0.2rem;
    }
    @include desktop {
      width: 100%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    @include desktop {
      width: 100%;
    }
  }

  &__box {
    @include desktop {
      width: 35%;
      padding-top: 0.8rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include desktop {
      width: 70%;
    }
  }

  &__info {
    @include tablet {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $secondary-color2;
      padding-bottom: 0.2rem;
    }
    @include desktop {
      flex-direction: row;
      gap: 1.5rem;
      padding-bottom: 1rem;
    }
  }

  &__input--title,
  &__input--description {
    background-color: $secondary-color3;
    border: 1px solid $secondary-color2;
    border-radius: 5px;
    padding: 0.5rem;
    resize: none;
    margin-bottom: 1.3rem;
  }

  &__input--title {
    height: 2.6rem;
  }

  &__input--description {
    height: 5.5rem;
    @include desktop {
      height: 6rem;
    }
  }

  ::placeholder {
    padding-left: 0.2rem;
    color: $secondary-color1;
    @include tablet {
      padding-left: 0.5rem;
      font-size: 0.9rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column-reverse;

    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
      align-items: baseline;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @include desktop {
     margin-right: 0;
      margin-left: 16rem;
      border-top: none;
    }
  }
}
