@use "./styles/partials/variables" as *;
@use "./styles/partials/mixin" as *;
@use "./styles/partials/fonts" as *;


.wrapper {
  @include desktop {
    display: flex;
    padding: 0 6rem 0 9rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.container {
  @include desktop {
    border-right: 1px solid $secondary-color2;
  }
}
